<a
  href="https://spb.hh.ru/vacancy/85768446?from=vacancy_search_list&query=одноклассники"
  target="_blank"
  class="element"
>
  <div class="text-headline">Санкт-Петербург</div>
  <div class="text-title-2">Разработчик iOS-проект "Монетизация"</div>
  <div class="text-headline hot-text">срочноо-ооо</div>
  <div class="info">
    <div class="info-item text-headline">опыт 4-6 лет</div>
    <div class="info-item source">hh</div>
    <div class="info-item type">вакансия</div>
  </div>
</a>

<style lang="scss">
  @import "../../styles/global.scss";

  a {
    display: block;
  }

  .element {
    position: relative;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 24px;
    padding: 24px;
    background-color: black;

    &:hover {
      background-color: $black-hover;
    }

    grid-column: 1;
    grid-row: 3 / span 2;
    color: white;
  }

  .hot-text {
    position: absolute;
    display: none;
    bottom: 290px;
    left: 260px;
    height: 76px;
    width: 180px;
    transform: rotate(-45deg);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: solid 1px white;
  }

  .info {
    position: absolute;
    bottom: 24px;
    left: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 515px;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      border: solid 1px white;
      height: 76px;
      width: 180px;
    }

    .source {
      width: 80px;
    }

    .type {
      height: 143px;
      width: 261px;
    }
  }

  @include desktop {
    .hot-text {
      display: flex;
    }
  }
</style>
