// black
$black-hover: #111111;

// gray
$c-gray: #CACACA;
$c-gray-hover: #ACACAC;

// light gray
$c-light-gray: #F0F0F0;
$c-light-gray-hover: #ECECEC;

// accent
$c-accent: #FF7700;
$c-accent-hover: #F95A01;
