// black
$black-hover: #151515;

// gray
$c-gray: #cacaca;
$c-gray-hover: #acacac;

// light gray
$c-light-gray: #f0f0f0;
$c-light-gray-hover: #ececec;

// accent
$c-accent: #ff7700;
$c-accent-hover: #f95a01;
