// black
$black-hover: #1D1D1D;

// gray
$c-gray: #CACACA;
$c-gray-hover: #A4A4A4;

// light gray
$c-light-gray: #F0F0F0;
$c-light-gray-hover: #D3D3D3;

// accent
$c-accent: #FF7700;
$c-accent-hover: #DF5000;
