---
import Footer from "@components/footer.astro";
import TechRadar from "@components/techradar/techradar.svelte";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Техрадар" ogTitle="Техрадар команды OK.TECH" description="Технологии и инструменты, которые мы используем в разработке и развитии ОК" blackLogoText>
  <div class="tech-container">
    <TechRadar client:load />
    <Footer classes="black" />
  </div>
</Layout>

<style>
  .tech-container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
  }
</style>

