---
import Icon from "astro-icon";
import BlogHeader from "@assets/blog-header.svg";
---

<section class="section-y">
  <div class="header text-animation-title">
    <img src={BlogHeader.src} class="header-item animate-textAnimation" />
    <img src={BlogHeader.src} class="header-item animate-textAnimation" />
  </div>
  <div class="blog">
    <div class="blog-section">
      <a href="https://habr.com/ru/companies/vk/articles/757416/">
        <div class="blog-section-item black">
          <div class="text-content">
            <div class="text-headline">Иванов Павел · 15 мин</div>
            <div class="text-title-2">
              Как я перестал бояться и научился любить нейронные сети
            </div>
          </div>
          <div class="source">
            <div class="source-item">
              <div class="text-headline">хабр</div>
            </div>
            <div class="source-item">
              <div class="text-headline">ml</div>
            </div>
          </div>
        </div>
      </a>
      <a href="https://habr.com/ru/companies/odnoklassniki/articles/675768/">
        <div class="blog-section-item accent">
          <div class="text-content">
            <div class="text-headline">Дарья Никанорова · 1 час 14 мин</div>
            <div class="text-title-2">Делимся ML экспертизой</div>
          </div>
          <div class="source">
            <div class="source-item">
              <div class="text-headline">видео</div>
            </div>
          </div>
          <Icon name="link" class="link" />
        </div>        
      </a>
    </div>
    <div class="blog-section">
      <a href="">
        <div class="blog-section-item gray">
          <div class="text-content">
            <div class="text-headline">
              Андрей Кузнецов · 1 час 53 мин
            </div>
            <div class="text-title-2">
              Разбор Saint HighLoad 2023. В программе докладе от Дзена, ВКонтакте
              и Яндекса
            </div>
          </div>
          <div class="source">
            <div class="source-item">
              <div class="text-headline">
                видео
              </div>
            </div>
            <Icon name="link" class="link" />
          </div>
        </div>
      </a>
      <a href="https://habr.com/ru/companies/odnoklassniki/articles/">
        <button>
          <div class="text-button">читать больше</div>
        </button>
      </a>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/global.scss";

  section {
    position: relative;
    overflow: hidden;
  }
  
  .link {
    position: absolute;
    bottom: 24px;
    right: 24px;
    height: 96px;
  }

  .header {
    display: flex;

    &-item {
      max-width: none;
    }
  }

  .source {
    display: flex;
    gap: 8px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      border: 2px solid;
      padding: 4px 16px;
    }
  }

  button,
  .blog-section-item {
    transition: background-color 0.3s;
  }

  .blog {
    display: grid;
    gap: 16px;
    padding: 0 16px;

    &-section {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 320px;
        width: 100%;
        cursor: pointer;
        border-radius: 24px;
        padding: 24px;

        &.black {
          color: white;
          background-color: black;

          &:hover {
            background-color: $black-hover;
          }
        }

        &.accent {
          background-color: $c-accent;

          &:hover {
            background-color: $c-accent-hover;
          }
        }

        &.gray {
          height: 425px;
          background-color: $c-gray;

          &:hover {
            background-color: $c-gray-hover;
          }
        }

        &.gray,
        &.accent {
          .source-item {
            border-color: black;
          }
        }
      }
    }
  }

  .text-content {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
    gap: 8px;
  }

  button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 95px 32px;
    border-radius: 300px;
    color: black;
    background-color: $c-light-gray;
    cursor: pointer;

    &:hover {
      background-color: $c-light-gray-hover;
    }
  }

  @include desktop {
    .blog {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      &-section {
        gap: 0;
      }
    }
  }
</style>
