---
import Icon from "astro-icon";
import BlogHeader from "~/assets/blog-header.svg";
---

<section class="section-y relative overflow-hidden">
  <div class="head text-animation-title flex">
    <img src={BlogHeader.src} class="max-w-none animate-textAnimation" />
    <img src={BlogHeader.src} class="max-w-none animate-textAnimation" />
  </div>
  <div class="grid items-start justify-start gap-4 px-4 lg:grid-cols-2">
    <div class="flex flex-col items-start justify-start gap-4 lg:gap-0">
      <div
        class="flex h-[320px] w-full cursor-pointer flex-col items-start justify-between gap-8 rounded-3xl bg-black p-6 transition-colors hover:bg-[#111111]"
      >
        <div class="flex items-start justify-start">
          <div class="flex flex-col items-start justify-start gap-2 pr-8">
            <div class="text-headline text-white">Иванов Павел · 15 мин</div>
            <div class="text-title-2 text-white">
              Как я перестал бояться и научился любить нейронные сети
            </div>
          </div>
        </div>
        <div class="flex items-start justify-start gap-2">
          <div
            class="flex items-center justify-center rounded-[100px] border-2 border-white"
          >
            <div class="text-headline px-4 py-1 tracking-tight text-white">
              хабр
            </div>
          </div>
          <div
            class="flex items-center justify-center rounded-[100px] border-2 border-white px-4 py-1"
          >
            <div class="text-headline tracking-tight text-white">ml</div>
          </div>
        </div>
      </div>
      <div
        class="relative flex h-[320px] w-full cursor-pointer flex-col items-start justify-between gap-8 rounded-3xl bg-primary p-6 transition-colors hover:bg-[#F95A01]"
      >
        <div class="flex flex-col items-start justify-start gap-2 pr-8">
          <div class="text-headline text-black">
            Дарья Никанорова · 1 час 14 мин
          </div>
          <div class="text-title-2 text-black">Делимся ML экспертизой</div>
        </div>
        <div class="flex items-end justify-between">
          <div
            class="flex w-20 items-center justify-center rounded-[100px] border-2 border-black px-4 py-1"
          >
            <div class="text-headline text-black">видео</div>
          </div>
        </div>
        <Icon name="link" class="absolute bottom-6 right-6 h-24" />
      </div>
    </div>
    <div class="flex h-full flex-col items-start justify-start gap-4 lg:gap-0">
      <div
        class="relative flex h-[425px] cursor-pointer flex-col items-start justify-between rounded-3xl bg-[#CACACA] p-6 transition-colors hover:bg-[#ACACAC]"
      >
        <div class="flex flex-col items-start justify-start gap-2 pr-8">
          <div class="text-headline text-black">
            Андрей Кузнецов · 1 час 53 мин
          </div>
          <div class="text-title-2 text-black">
            Разбор Saint HighLoad 2023. В программе докладе от Дзена, ВКонтакте
            и Яндекса
          </div>
        </div>
        <div class="flex items-end justify-between">
          <div
            class="flex w-20 items-center justify-center rounded-[100px] border-2 border-black px-4 py-1"
          >
            <div class="text-headline font-medium tracking-tight text-black">
              видео
            </div>
          </div>
          <Icon name="link" class="absolute bottom-6 right-6 h-24" />
        </div>
      </div>
      <div
        class="flex w-full cursor-pointer flex-col items-center justify-center gap-1 rounded-[300px] bg-[#F0F0F0] px-8 py-[95px] backdrop-blur-2xl transition-colors hover:bg-[#ECECEC]"
      >
        <!-- Поправить во всех браузерах -->
        <div class="text-button text-black">читать больше</div>
      </div>
    </div>
  </div>
</section>
