<section class="section-y section-x">
  <h2 class="text-large-title"> факты ок </h2>
  <div class="text-title-2">
    Платформа для бизнеса **** по обработке контента с помощью нейросетей называется Робби . . . . . . . / / . . . . . . . Сайт ОК переведен на 16 языков  ##  50 тысяч   докер контейнеров запущено <span class="black-block" style="width: 64px">.</span> в инфраструктуре . . . . . . .  ОК первыми среди российских массовых сервисов запустили deepfake-технологию  . . . . . . . / . . . . . . .   / / 90% пользователей соцсети ежедневно взаимодействуют с сервисом <span class="black-block" style="width: 128px">.</span> подарков <span class="black-block" style="width: 156px">.</span> 30 секунд – среднее время реакции службы поддержки на первый запрос пользователя **** ## 99% сервисов в ОК написан на Java **** <span class="black-block" style="width: 67px">.</span> 1 эксабайт данных хранится на серверах ОК . . . . . . . / /
  </div>
  <a class="main-button text-button" href="https://spb.hh.ru/employer/15478#ok" target="_blank" rel="nofollow">
    хочу к вам
  </a>
</section>

<style>
  @import "../styles/global.scss";

  section {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: #F0F0F0;
  }
  
  .black-block {
    display: inline-block;
    background-color: black;
  }
</style>