---
export interface Props {
  classes: string;
}

const date = new Date().getFullYear();

const { classes } = Astro.props;
---

<footer class={ `${classes} text-footer` }>
  <div> hi@ok.ru </div>
  <div> © 2006–{date}, OK.TECH </div>
</footer>

<style lang="scss">
  @import "../styles/global.scss";

  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-width: 1px;
    background-color: white;
    border-color: black;
    text-align: center;
    padding: 0 16px;
    color: black;
    &.absolute {
      position: absolute;
      bottom: 0;
    }
    &.transparent {
      color: white;
      border-color: white;
      background-color: transparent;
    }
  }
  
  @include desktop {
    footer {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
