---
export interface Props {
  classes: string;
}

const date = new Date().getFullYear();

const { classes } = Astro.props;
---

<footer class={`${classes} text-footer footer`}>
  <a href="mailto:hi@ok.ru"> hi@ok.ru</a>
  <div>© 2006–{date}, OK.TECH</div>
</footer>

<style lang="scss">
  @import "../styles/global.scss";

  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: solid 1px black;
    background-color: white;
    text-align: center;
    padding: 0 16px;
    color: black;
    &.absolute {
      position: absolute;
      bottom: 0;
    }
    &.transparent {
      color: white;
      border-color: white;
      background-color: transparent;
    }
  }

  @include desktop {
    footer {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
