<div
  class="element relative h-full cursor-pointer overflow-hidden rounded-3xl bg-black p-6 hover:bg-[#111111]"
>
  <div class="text-headline">Санкт-Петербург</div>
  <div class="text-title-2">Разработчик iOS проект "Монетизация"</div>
  <div
    class="text-headline absolute bottom-[290px] left-[260px] hidden h-[76px] w-[180px] -rotate-45 items-center justify-center rounded-[100px] border border-white lg:flex"
  >
    срочноо-ооо
  </div>
  <div
    class="absolute bottom-[24px] left-[24px] flex w-[515px] flex-wrap rounded-[100px]"
  >
    <div
      class="text-headline flex h-[76px] w-[180px] items-center justify-center rounded-[100px] border border-white"
    >
      опыт 4-6 лет
    </div>
    <div
      class="text-headline flex h-[76px] w-[80px] items-center justify-center rounded-[100px] border border-white"
    >
      hh
    </div>
    <div
      class="text-headline flex h-[143px] w-[261px] items-center justify-center rounded-[100px] border border-white"
    >
      вакансия
    </div>
  </div>
</div>

<style>
  .element {
    grid-column: 1;
    grid-row: 3 / span 2;
  }
</style>
