---
import Icon from "astro-icon";

const { intro } = Astro.props;
const { title, subtitle, stats } = intro;
---

<section class="section-x section-y">
  <div class="content">
    <div class="text-large-title">{title}</div>
    <div class="subtitle">
      <div class="text-title-1">{subtitle}</div>
      <Icon name="star" class="star" />
    </div>
  </div>

  <div class="stats">
    {
      stats.map(({ number, title }) => (
        <div class="stats-item">
          {number && <div class="text-title-1">{number}</div>}
          {title && <div class="text-body">{title}</div>}
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  @import "../styles/global.scss";

  section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 96px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    color: black;
  }

  .subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 88px;
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 54px;
    border-radius: 32px;
    color: black;

    &-item {
      min-width: 250px;
      width: 100%;
    }
  }
  .star {
    height: 36px;
  }
  @include desktop {
    section {
      flex-direction: row;
    }
  }
</style>
