---
import Starfield from "@components/starfield.astro";
---

<section>
  <!-- <Starfield /> -->
  <!-- <iframe src='https://my.spline.design/oktech-f9034d5fd7fc3b89c39c703c1eed4625/' frameborder='0' width='100%' height='100%'></iframe> -->
  <canvas id="canvas3d"></canvas>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  section {
    position: relative;
    margin-bottom: 90px;
    height: 100vh;
    background-color: black;
    overflow: hidden;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(#starfield) {
      display: none;
    }

    #splash-bg-fallback {
      display: block;
    }
  }
</style>

<script>
  // @ts-ignore
  import { Application } from '@splinetool/runtime';
  import invariant from 'tiny-invariant';

  const canvas = document.getElementById('canvas3d') as HTMLCanvasElement;
  const app = new Application(canvas);
  invariant(canvas);
  app.load('https://prod.spline.design/pFsAaFCZmaas5Ulb/scene.splinecode');
</script>