---
const { teaser } = Astro.props;
const { title, links } = teaser;
const date = new Date().getFullYear();
---

<section class="teaser">
  <h2 class="title text-title-1">
    {title}
  </h2>

  <canvas id="teaser" />

  <div class="text text-body">
    {
      links.map((link) => (
        <a href={link.link} target="_blank" class="text-item" rel="nofollow">
          {` ${link.title} `}
        </a>
      ))
    }
  </div>

  <div class="side-text">
    2006–{date}
  </div>
</section>

<style lang="scss">
  section {
    margin-bottom: calc(60px + 30*(100vw - 375px) / 1065);
    background-color: black;
  }

  h2 {
    max-width: 800px;
    z-index: 1;
  }

  .text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
    z-index: 1;

    &-item {
      display: block;
      max-width: 195px;
    }
  }

  .side-text {
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(-90deg) translate(50%, 100%);
  }

  .teaser {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 72px 16px 16px;
    color: white;
  }

  .title {
    padding-right: 32px;
  }
  
  #teaser, .stub {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .stub {
    z-index: -1;
  }
</style>

<script>
  import { Application } from '@splinetool/runtime';

  const canvas = document.getElementById('teaser') as HTMLCanvasElement;
  const app = new Application(canvas);
  app.load('https://prod.spline.design/pFsAaFCZmaas5Ulb/scene.splinecode');
</script>