---
const technologies = [
  { title: "frontend", subtitle: "HTML, CSS, JavaScript" },
  { title: "android", subtitle: "C++, Java, PHP, Kotlin" },
  { title: "ios", subtitle: "Swift, Objective-C" },
  { title: "backend", subtitle: "JavaScript, Python, Ruby, PHP, Java, C#" },
  { title: "QA", subtitle: "HTML/CSS, Python, SQL, Java/JavaScript" },
  { title: "data base", subtitle: "MongoDB, MySQL, NoSQL, RoomDB" },
];
---

<section class="section-y section-x">
  <div class="text-large-title">
    стек <br /> технологий
  </div>
  <div class="technologies">
    {
      technologies.map(({ title, subtitle }) => (
        <div class="technology">
          <div class="text-title-1">{title}</div>
          <div class="text-body">{subtitle}</div>
        </div>
      ))
    }
  </div>
  <a href="/techradar">
    <button class="main-button text-button">тех радар</button>
  </a>
</section>

<style lang="scss">
  @import "../styles/global.scss";
  section {
    display: flex;
    flex-direction: column;
    gap: 48px;
    color: black;
  }
  
  .technologies {
    display: grid;
    gap: 48px;
  }
  
  .technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  @include desktop {
    .technologies {
      grid-auto-flow: column;
      grid-template-rows: repeat(2, minmax(0, 1fr));
    }
  }
</style>