.splide__pagination {
  gap: 8px;
}

.splide__pagination__page.nav-btn {
  width: 88px;
  height: 8px;
  border-radius: 12px;
  background-color: #cacaca;
}

.splide__pagination__page.nav-btn.is-active {
  background-color: black;
}

@media (min-width: 640px) {
  .splide__pagination__page.nav-btn {
    width: 135px;
  }
}

@media (min-width: 906px) {
  .splide__pagination__page.nav-btn {
    width: 153px;
  }
}
