---
export interface Props {
  link?: string;
  title: string;
}

const { title, link } = Astro.props;
---

<a href={link} target="_blank">
  <div class="vacancy-item">
    <div class="text-headline">вакансия</div>
    <div class="text-title-1">{title} ↗</div>
    <button class="text-button"> узнать подробнее</button>
  </div>
</a>

<style lang="scss">
  @import "../../styles/global.scss";
  .vacancy-item {
    display: flex;
    height: 378px;
    padding: 0 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
  }

  button {
    margin-top: 32px;
    padding: 22px 32px;
    background-color: $c-accent;
    border-radius: 300px;

    &:hover {
      background-color: $c-accent-hover;
    }
  }
</style>
