---
import VacancyItem from "./vacancy-item.astro";
import AllVacancyItem from "./all-vacancy-item.astro";

const { vacancies } = Astro.props;
---

<section class="section-x section-y">
  <div class="splide" id="vacancies-slider">
    <div class="splide__track">
      <ul class="splide__list">
        {
          vacancies.map((vacancy) => (
            <li class="splide__slide">
              <VacancyItem title={vacancy.title} link={vacancy.link} />
            </li>
          ))
        }
        <li class="splide__slide">
          <AllVacancyItem />
        </li>
      </ul>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../../styles/global.scss";
  .splide__track {
    border-radius: 16px;
  }
</style>

<script>
  import Splide from "@splidejs/splide";

  const splide = new Splide("#vacancies-slider", {
    type: "loop",
    arrows: false,
    autoplay: true,
    interval: 3500,
    pauseOnHover: true,
  });

  splide.mount();
</script>
