---
import { SEO } from "astro-seo";
import Header from "@components/header.astro";
import "@styles/index.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SEO
      title={"OK.TECH"}
      description="OKTECH"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Команда OK.TECH объединяет сотни специалистов разработки, дизайна, маркетинга, машинного обучения, поддержки пользователей и не только. Каждый из нас влияет на то, каким увидят ОК миллионы пользователей. Мы можем творить историю и делаем это.`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "OKTECH thumbnail",
        },
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
  </body><style>
    body {
      color: black;
      overflow-x: hidden;
      height: 100%;
    }
  </style>
</html>
